@charset "UTF-8";
/*@author Sabine*/

label{
	display: block;
}

input {
	width: 20em;
	color: black;
}

textarea {
	border: 1px solid black;
}

input[type="checkbox"], input[type="radio"] {
	width: auto;
}

/* @author david 
 * kopiert und angepasst aus Skript CSS S84 */
 
 input[type="file"]{
 color: white;
 }
 
 input:required + span::after{
 	color: white;
 	content: " *"
 }
 
  textarea:required + span::after{
 	color: white;
 	content: " *"
 }
 
  input[type="email"]:valid + span::after{
 	color: green;
 	content: " ✓"
 }

  textarea:valid + span::after{
 	color: green;
 	content: " ✓"
 }#