@CHARSET "UTF-8";



label{
	display: block;
}

input {
	width: 20em;
	font-color: black;
}

textarea {
	border: 1px solid black;
}

input[type="checkbox"], input[type="radio"] {
	width: auto;
}