/*@author Sabine*/
@CHARSET "UTF-8";



label{
	display: block;
}

input {
	width: 20em;
	font-color: black;
}

textarea {
	border: 1px solid black;
}

input[type="checkbox"], input[type="radio"] {
	width: auto;
}

/* @author david 
 * kopiert und angepasst aus Skript CSS S84 */
 
 input:required + span::after{
 	color: red;
 	content: " *"
 }
 
  textarea:required + span::after{
 	color: red;
 	content: " *"
 }
 
  input[type="email"]:valid + span::after{
 	color: green;
 	content: " ✓"
 }

  textarea:valid + span::after{
 	color: green;
 	content: " ✓"
 }