/*@author Sabine*/
@CHARSET "UTF-8";

/* Quelle http://www.olivergast.de/blog/2015/05/12/css-ein-horizontales-dropdown-menue-reloaded/ */
nav {
	box-sizing: border-box;
 	float: left;
  	width: 100%;
  	background: #0A223C;
  	font-size: 16px;	
}

nav ul {
  margin: 0;
  padding: 0;
  background: #0A223C;
}

nav a {
  display: block;
  color: #fff;
  text-decoration: none;
}

nav ul li {
  position: relative;
  float: left;
  list-style: none;
  background: #0A223C;
  z-index: 1;
}
 
nav ul li:hover {
  /* background: #0A223C; */
  background: #3F4F60
}
 
nav ul li a {
    padding: 20px;
}


nav ul ul {
  position: absolute;
  top: -9999px;
  left: -9999px;
  background: #0A223C;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.6);
}
 
nav ul ul li {
  float: none;
  width: 200px;
  border-bottom: 1px solid #555;
  background: #0A223C;
}
 
nav ul ul li a {
  padding: 10px 20px;
    background: #0A223C;
}

nav ul li:hover > ul {
  top: 100%;
  left: 0;
  background: #3F4F60
}

nav ul ul li:hover > ul {
  top: 0;
  left: 200px;
  background: #3F4F60
}


nav ul li.submenu > a:after {
  position: relative;
  float: right;
  content: '';
  margin-left: 10px;
  margin-top: 5px;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #fff;
  border-bottom: 5px solid transparent;
}


nav ul ul li:last-child {
  border-bottom: none;
}

/* Quelle ende  */

/* ab hier: @author david*/

.anav{
	color: white;
	font-weight: bold;
	font-size: 18px;
}

.anav:visited{
	color: white;
	font-weight: bold;
	font-size: 18px;
}