@CHARSET "UTF-8";
/* @author Sabine*/

*{
	font-family: Lucida Sans Unicode, Lucida Grande, sans-serif;
}
header {
	order:1;
	color: white;
	
}
body {
	display: flex;
	flex-direction: column;
	background-color: #0A2229;
}

nav{
	order: 2;
}

article{
	order:3;
	color: white;
}

div{
	order:3;
	color: white;
}
.main {
	display: flex;
	order:4;
	padding: 20px;
}

footer{
	order:5;
	color: white;
}

/*TODO: Tabellen Formatieren*/

table{
	border-collapse: collapse;
	border-left-style: inset;
	border-right-style: inset;
	color: gainsboro;
	text-align:center;
}
th {
	min-width:100px;
	border-top-style: inset;
	border-bottom-style: inset;
	background-color: #172318;
}
td{
	border-bottom-style:inset;
	border-collapse:inset;
}
tr {
	border-bottom-style: inset;
}
img.small{width: 100px; height: 100px;}
img.medium{width: 200px; height: 200px;}
