@CHARSET "UTF-8";
/* @author Sabine*/

*{
	font-family: Lucida Sans Unicode, Lucida Grande, sans-serif;
}
header {
	order:1;
	color: white;
	
}
body {
	display: flex;
	flex-direction: column;
	background-color: #0A2229;
}

nav{
	order: 2;
}

article{
	order:3;
	color: white;
}

div{
	order:3;
	color: white;
}
.main {
	display: flex;
	order:4;
	padding: 20px;
}

footer{
	order:5;
	color: white;
}

table{
	border-collapse: collapse;
	border-left-style: inset;
	border-right-style: inset;
	color: gainsboro;
	text-align:center;
}
th {
	min-width:100px;
	border-top-style: inset;
	border-bottom-style: inset;
	background-color: #172318;
}
td{
	border-bottom-style:inset;
	border-collapse:inset;
}
tr {
	border-bottom-style: inset;
}
img.small{width: 100px; height: 100px;}
img.medium{width: 200px; height: 200px;}


/* ab hier 
@author david */
button{
	background-color: #709ca9;
    padding: 14px 36px;
    margin: 3px 4px;
    text-align: center;
    text-decoration: none;
    border: none;
    color: white;
    font-size: 16px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    border-radius: 6px;
    min-width: 200px;
    white-space:nowrap;
}
noscript{
	color: white;
	font-size: 20px;
	background-color: red;
}
